.root {
    width: 100%;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 1960px;
    width: 100%;
    margin: auto;
    background-color: #598fbc;
  }

  .main {
    width: 100%;
    background-color: #598fbc;
  }