.modal {
    background-color: rgba(0, 0, 0, 0.773);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
  
    &__wrapper {
      position: relative;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  
    &__close {
      background-image: url(../../assets/x.svg);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 5px;
      right: 10px;
      opacity: 0.7;
      cursor: pointer;
    }
  
    &__close:hover {
      opacity: 1;
    }
  }
  
  .card {
    max-width: 500px;
    min-height: 348px;
    background-color: rgba(23, 31, 39, 0.9);
    color: bisque;
    padding: 20px;
    border: thick double rgba(124, 189, 255, 0.641);
    border-radius: 10px;
  
    &__header {
      display: flex;
      gap: 20px;
      margin-bottom: 10px;
    }
  
    &__title {
      font-size: 25px;
      margin-bottom: 10px;
      font-family: 'GlamySunriseRegular';
      letter-spacing: 2px;
      color: rgb(124, 189, 255);
    }
  
    &__img {
      object-fit: cover;
    }
  
    &__span {
      font-family: 'GlamySunriseRegular';
      letter-spacing: 2px;
      color: rgba(91, 135, 178, 0.8);
      font-size: 18px;
    }
  
    &__description {
      text-align: justify;
    }
  }
  
  @media screen and (max-width: 35rem) {
    .card__header {
      flex-direction: column;
      align-items: center;
    }
  }