.cards {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
margin-bottom: 30px;

&__error {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1.250vw + 26.00px);
    font-family: 'GlamySunriseRegular';
    letter-spacing: 2px;

    &__text {
      background-color: rgba(23, 31, 39, 0.8);
      color: bisque;
      padding: 50px;
      text-align: center;
      width: 50%;
      border-radius: 10px;
    }
  }
}