.pagination {
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px auto 30px;
  padding: 0;
  background-color: bisque;
  border-radius: 10px;

  &__page {
    text-align: center;
    vertical-align: bottom;
    min-width: 30px;
    min-height: 30px;
    padding: calc(0.313vw + 4px);
    border-top: 5px solid bisque;
    border-radius: 10px;
    cursor: pointer;
  }

  &__active {
    border-top: 5px solid rgba(124, 189, 255);
    border-radius: 0;
  }
}

@media screen and (max-width: 48rem) {
  .pagination {
    &__active {
      color: rgba(124, 189, 255);
      border: none;
    }
    &__page {
      border: none;
    }
  }
}
