* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 228, 196, 0.636);
}

#root {
  padding: 0 10px;
  background-image: url(./../../assets/mainBg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: scroll;
  overflow: hidden overlay;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
