.header,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20%;
  padding: 8px 20px;
  background-color: #ffa41c;
  color: white;
}

.logo {
  width: 40px;
  height: 40px;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navigation li{
  list-style-type: none;
}

.navigation_link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer {
  justify-content: space-between;
}

.githubIcon {
  width: 40px;
  height: 40px;
}

.rssIcon {
  width: 70px;
}

.footer_description p {
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 400px){
  .footer {
    gap: 20px;
  }

  .githubIcon {
    width: 30px;
    height: 30px;
  }

  .rssIcon {
    width: 60px;
  }

  .footer_description p {
    font-size: 14px;
  }
}