.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 20px;
  font-family: 'AnimalesFantastic';
  flex-wrap: wrap;
  color: bisque;
  text-shadow: 2px 1px 1px #000000;

  &__title{
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    font-weight: 500;
  }

  // .header__nav
  &__nav {
    color: bisque;
    text-decoration: none;
    font-size: 30px;

    // .header__nav--active
    &--active {
      color: rgb(124, 189, 255);
    }
  }
}
